:root{
    --mainColor: #ffc267;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
html,body{
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #202020;
}

header .container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    background-image: url('https://cdn.glitch.com/d6d9be43-c2ec-410d-be4a-0e140eb7fd26%2FlogoLaranja.png?v=1612389921454');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header .logo a{
    display: inline;
    position: relative;
    z-index: 1;
    padding: 30px 50%;
}

header .nav{
    display: flex;
    align-items: center;
}

nav li{
    display: inline;
    padding: 15px 20px;
}

nav li:hover{
    background-color: rgba(255, 255, 255, 0.164);
}

nav a{
    display: inline;
    position: relative;
    z-index: 1;
    padding: 25px;
    margin: -25px;
    color: var(--mainColor);
    text-decoration: none;
    font-size: 16px;

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
input[type="search"]{
    width: 0px;
    height: 0px;
    background-color: #363636;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 8px;
    color: var(--mainColor);
    transition: all 300ms;
}

form{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-buscar{
    width: 30px;
    height: 30px;
    background-image: url('../search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}




@media screen and (max-width: 1024px) {
    header .container-header{
        width: 100%;
        margin: 0 10px;
    }
}