:root{
    --mainColor: #ffc267;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
html,body{
    height: 100%;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #202020;
}

header .container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    background-image: url('https://cdn.glitch.com/d6d9be43-c2ec-410d-be4a-0e140eb7fd26%2FlogoLaranja.png?v=1612389921454');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 15px;
}

header .logo a{
    display: inline;
    position: relative;
    z-index: 1;
    padding: 30px 50%;
}

header .nav{
    display: flex;
    align-items: center;
    transition: all 300ms;
}

nav li{
    display: inline;
    padding: 15px 15px;
    transition: all 200ms;
    border-radius: 4px;
}

nav li:hover{
    background-color: rgba(255, 255, 255, 0.164);
}

nav a{
    display: inline;
    position: relative;
    z-index: 1;
    padding: 25px;
    margin: -25px;
    color: var(--mainColor);
    text-decoration: none;
    font-size: 16px;

}

header .icon-menu{
    display: none;
    width: 25px;
    height: 25px;
    background-image: url('../menu.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    margin-right: 5px;
    padding: 15px;
    border-radius: 4px;
}

header .icon-menu:hover{
    background-color: rgba(255, 255, 255, 0.164);
}

header .removeMenu{
    display: none;
    width: 25px;
    height: 25px;
    background-image: url('../cancel.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    margin-right: 5px;
    padding: 15px;
    border-radius: 4px;
}

header .removeMenu:hover{
    background-color: rgba(255, 255, 255, 0.164);
}

form{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
input[type="search"]{
    width: 0px;
    height: 0px;
    background-color: #363636;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 8px;
    color: var(--mainColor);
    transition: all 300ms;
}


.icon-buscar{
    width: 50px;
    height: 48px;
    background-image: url('../search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 15px 20px;
    border-radius: 4px;
}

.icon-buscar:hover{
    background-color: rgba(255, 255, 255, 0.164);
}


@media screen and (max-width: 550px) {
    header .logo{
        width: 125px;
        height: 100%;
    }
}


@media screen and (max-width: 855px) {

    header .nav{
        display: block;
        position: absolute;
        top: 70px;
        right: 0;
        width: 0;
        background-color: #202020;
        border-bottom-left-radius: 10px;
    }

    nav ul,form{
        display: none;
    }

    nav li{
        display: block;
    }

    header .icon-menu{
        display: block;
    }

    header .icon-buscar{
        position: absolute;
    }

    header .icon-buscar:hover{
        background-color: transparent;
    }
  
    form:hover{
        background-color: rgba(255, 255, 255, 0.164);
    }

}



@media screen and (max-width: 1024px) {
    header .container-header{
        width: 100%;
        margin: 0 10px;
    }
}